x-toolbar {
    display: flex;
    grid-area: toolbar;
    color: #eee;
    display: block;
    background: darken($sidebar_color, 10%);
    padding: 0.5em;
    border-bottom: 1px solid lighten($sidebar_color, 10%);
    align-items: center;
    //gap: 1em;

    select {
        background: #fff;
        border-color: #8d6e63;
        color: #333;
        padding: 0.2em 0.5em;
    }

    @media print {
        display: none;
    }

    button {
        background: lighten($sidebar_color, 20%);
        color: #ffffff;
        //padding: 0.2em 0.5em;
        border-radius: var(--radius-small);
        font-weight: bold;
        border: 1px solid lighten($sidebar_color, 30%);

        background: none;
        border: none;

        &:not(:last-child) {
            &:after {
                content: "•";
                margin: 0 1em;
            }
        }
    }
}
